@model List<DemoMvc.Models.Employee>
@{
    ViewData["Title"] = "Employees";
}

<h1>Employees</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Salary</th>
            <th>DateOfBirth</th>
            <th>Department</th>
            <th>Phone Number</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.Id</td>
                <td>@emp.Name</td>
                <td>@emp.Email</td>
                <td>@emp.Salary</td>
                <td>@emp.DateOfBirth.Value.ToString("dd/mm/yyyy")</td>
                <td>@emp.Department</td>
                <td>@emp.PhoneNumber</td>
                <td>@emp.City</td>
                <th>@Html.ActionLink("update","Update","Employee", new {id = @emp.Id})</th>
            </tr>
        }
    </tbody>
</table>

