@using DemoMvc.Repository;
@model List<DemoMvc.Models.Employee>

@inject IDepartmentRepository DepartmentRespository
@{
    ViewData["Title"] = "Employees";
}

<h1>Employees</h1>

<table class="table" id="dataTableList">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Salary</th>
            <th>DateOfBirth</th>
            <th>Department</th>
            <th>Phone Number</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dep in Model)
        {
            <tr>
                <td>@dep.Id</td>
                <td>@dep.Name</td>
                <td>@dep.Email</td>
                <td>@dep.Salary</td>
                <td>@dep.DateOfBirth.Value.ToString("dd/mm/yyyy")</td>
                <td>
                    @{
                        var departmentName = await DepartmentRespository.GetDepartmentNameById(dep.DepartmentId);
                    }
                    @departmentName
                </td>
                <td>@dep.PhoneNumber</td>
                <td>@dep.City</td>
                <th>@Html.ActionLink("update","Update","Employee", new {id = @dep.Id})</th>
            </tr>
        }
    </tbody>
</table>
@await Component.InvokeAsync("DataTable")

